/*CSS RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.cardHighlight{
  min-height: 100%;
  margin-top: 2.5rem;
}

#logo{
  font-family: fantasy;
  margin-left: 2rem;
}

.menu{
  margin-left: auto;
  font-family: fantasy;
  margin-right: 2rem;
}


#menuContainer {
  flex:none ;
  margin-left: auto;
}

#banner {
  margin-top: 5rem;
}

#bannerCol{
  text-align: center;
}

.card{

  margin-top: 2rem;
  font-family: monospace;
}